<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunzhiyuan.szybusinessapi.orm.mybatis.mappers.UserInfoMapper">

    <resultMap id="userInfoMap" type="com.sunzhiyuan.szybusinessapi.orm.mybatis.entity.UserInfoDO">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="id_number" property="idCardNo" />
        <result column="bank_card_number" property="bankCardNo" />
        <result column="bank_reserved_mobile" property="bankReservedMobile" />
        <result column="bank_card_type" property="bankCardType" />
        <result column="mobile" property="mobile" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <insert id="addUser"></insert>

    <update id="updateUser"></update>

    <select id="queryUser" resultMap="userInfoMap">
        select *
        from `pl_userinfo`
        where id = #{id}
    </select>
</mapper>
